[submodule "third_party/iree"]
	path = third_party/iree
	url = https://github.com/iree-org/iree.git
[submodule "third_party/ITA-FPGA"]
	path = third_party/ITA-FPGA
	url = https://github.com/OpenHardware-Initiative/ITA-FPGA.git
